.hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
}

.hero img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-text {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 10vh;
    font-family: 'Courier New', Courier, monospace;
    padding: 10vh;
}

#zapor {
    color: rgb(0, 0, 196);
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.title-phrase {
    text-align: center;
    margin: 10vh 0;
}

.bar {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.bar-element {
    text-align: center;
}

.map {
    text-align: center;
}

.map h1 {
    font-size: 5vh;
}

.map img {
    width: 100%;
    max-height: 80vh;
    aspect-ratio: initial;
}

.why {
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}