.hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
}

.hero img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-text {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 10vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10vh;
    font-weight: bold;
}

#zapor {
    color: rgb(0, 0, 196);
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.title-phrase {
    text-align: center;
    margin: 10vh 0;
}

.bar {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

.bar-element {
    text-align: center;
}

.map {
    text-align: center;
}

.map h1 {
    font-size: 5vh;
}

.map img {
    width: 100%;
}

.why, .plans, .bar {
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.end {
    background-color: black;
    padding: 20px;
    margin-top: 10vh;
}

.end-links {
    color: white;
    margin: 0px 30px;
}

.end-links p {
    margin: 0px 0px 1px;
}

.links, .links:visited, .links:active {
    color: gray;
    text-decoration: none;
}

.links:hover {
    color: whitesmoke;
    text-decoration: underline;
}