.title {
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
}

.title h1 {
    font-size: 10vh;
    color: white;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.time {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.time::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: white;
    border: 4px solid black;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -12px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: black;
    position: relative;
    border-radius: 6px;
    color: white;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .time {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .time::before {
        left: 60px;
        border: medium solid black;
        border-width: 10px 10px 10px 0;
        border-color: transparent black transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 18px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}


.end {
    background-color: black;
    padding: 20px;
    margin-top: 10vh;
}

.end-links {
    color: white;
    margin: 0px 30px;
}

.end-links p {
    margin: 0px 0px 1px;
}

.links,
.links:visited,
.links:active {
    color: gray;
    text-decoration: none;
}

.links:hover {
    color: whitesmoke;
    text-decoration: underline;
}